section.section(id='bikes')
  img.fig.fig--quadro.wow.bounceInLeft(data-wow-offset="0" data-wow-delay='0.1s' src="img/quadro.png", alt="")
  img.fig.fig--snowbike.wow.bounceInLeft(data-wow-offset="0" data-wow-delay='0.01s' src="img/snowbike.png", alt="")

  .section__inner--bikes
    .section-info
      .section-info__title
        |прогулки на квадроциклах и&nbsp;снегоходах
      .section-info__list
        ul
          li
            span &#183;
            |мощные квадроциклы и багги от мировых производителей для покорения Российского бездорожья;
          li
            span &#183;
            |увлекательные маршруты по лесам 
            br 
            |и полям на снегоходах Yamaha и Polaris;
          li 
            span &#183;
            |спортивная экипировка для езды
      +btn('more')