section.section(id='fishing')
  .section__inner--fishing
    div.section-info
      h2.section-info__title
        |прокат рыболовных <br> снастей
      .section-info__list
        ul
          li
            |Все для зимней рыбалки:
          li
            span &#183;
            |зимние снасти и удочки, эхолоты;
          li
            span &#183;
            |инструменты для пробития лунок, рыболовные ящики, складные стулья для рыбалки
          li
            span &#183;
            |специальные палатки от ветра по запросу

    +btn('more')

  img.fig.fig--fisherman1.wow.bounceInDown(data-wow-offset="200" data-wow-delay='0.01s' src="img/fisherman.png", alt="")
  img.fig.fig--fisherman2.wow.bounceInDown(data-wow-offset="200" data-wow-delay='0.01s' src="img/fisherman2.png", alt="")