body
  background-image: url(../img/bg3.png)
  background-position-x: center
  background-repeat: no-repeat
  overflow-x: hidden

a
  text-decoration:none!important
  
.container
  max-width: 1200px
  position: relative
  margin: 0 auto
  

@font-face 
  font-family: 'GT Walsheim Pro Bold'
  src: url('../fonts/GT-Walsheim-Pro-Bold/GTWalsheimProBold.eot')
  src: url('../fonts/GT-Walsheim-Pro-Bold/GTWalsheimProBold.eot?#iefix') format('embedded-opentype'), url('../fonts/GT-Walsheim-Pro-Bold/GTWalsheimProBold.woff2') format('woff2'), url('../fonts/GT-Walsheim-Pro-Bold/GTWalsheimProBold.woff') format('woff'), url('../fonts/GT-Walsheim-Pro-Bold/GTWalsheimProBold.ttf') format('truetype'), url('../fonts/GT-Walsheim-Pro-Bold/GTWalsheimProBold.svg#GTWalsheimProBold') format('svg')
  font-weight: bold
  font-style: normal

@font-face 
  font-family: 'GT Walsheim Pro Black'
  src: url('../fonts/GT-Walsheim-Pro-Black/GTWalsheimProBlack.eot')
  src: url('../fonts/GT-Walsheim-Pro-Black/GTWalsheimProBlack.eot?#iefix') format('embedded-opentype'), url('../fonts/GT-Walsheim-Pro-Black/GTWalsheimProBlack.woff2') format('woff2'), url('../fonts/GT-Walsheim-Pro-Black/GTWalsheimProBlack.woff') format('woff'), url('../fonts/GT-Walsheim-Pro-Black/GTWalsheimProBlack.ttf') format('truetype'), url('../fonts/GT-Walsheim-Pro-Black/GTWalsheimProBlack.svg#GTWalsheimProBlack') format('svg')
  font-weight: 900
  font-style: normal

@font-face 
  font-family: 'GT Walsheim Pro Regular'
  src: url('../fonts/GT-Walsheim-Pro-Regular/GTWalsheimProRegular.eot')
  src: url('../fonts/GT-Walsheim-Pro-Regular/GTWalsheimProRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/GT-Walsheim-Pro-Regular/GTWalsheimProRegular.woff2') format('woff2'), url('../fonts/GT-Walsheim-Pro-Regular/GTWalsheimProRegular.woff') format('woff'), url('../fonts/GT-Walsheim-Pro-Regular/GTWalsheimProRegular.ttf') format('truetype'), url('../fonts/GT-Walsheim-Pro-Regular/GTWalsheimProRegular.svg#GTWalsheimProRegular') format('svg')
  font-weight: normal
  font-style: normal

@import "../blocks/header/header"
@import "../blocks/logo/logo"
@import "../blocks/section-info/section-info.sass"
@import "../blocks/section/section"
@import "../blocks/fig/fig"
@import "../blocks/pic/pic"
@import "../blocks/main/main"
@import "../blocks/btn/btn"
@import "../blocks/contacts/contacts"
@import "../blocks/footer/footer"
@import "../blocks/phone/phone"