section.section(id='tir')
  img.fig.fig--sniper1.wow.bounceInLeft(data-wow-offset="200" data-wow-delay='0.25s' src="img/sniper1.png", alt="")
  img.fig.fig--sniper2.wow.bounceInLeft(data-wow-offset="200" data-wow-delay='0.1s' src="img/sniper2.png", alt="")
  img.fig.fig--bags.wow.bounceInDown(data-wow-offset="220" data-wow-delay='0.0s' src="img/bags.png", alt="")
  
  .section__inner--shooting
    div.section-info
      h2.section-info__title
        | Пейнтбол и тир
      p.section-info__text
        |Полный комплект оборудования и одежды для баталий на пейнтбольной площадке в лесной чаще. Теплый тир для тренировки меткости, любой вид оружия на выбор: лук, арбалет, пневматическая винтовка. И&nbspэто&nbspеще не всё. 

      +btn('more')

  img.fig.fig--tir.wow.bounceInDown(data-wow-offset="400" data-wow-delay='0.1s' src="img/tir.png", alt="")