section.section
  img.fig.fig--snowman.wow.bounceInLeft(data-wow-offset="200" data-wow-delay='0.1s' src="img/snowman.png", alt="")
  img.fig.fig--ski.wow.bounceInLeft(data-wow-offset="200" data-wow-delay='0.1s' src="img/ski.png", alt="")
  img.fig.fig--ski2.wow.bounceInLeft(data-wow-offset="200" data-wow-delay='0.1s' src="img/ski2.png", alt="")

  .section__inner--skiing
    div.section-info
      h2.section-info__title
        | организация лыжных маршрутов
      p.section-info__text
        |Подберем маршрут рядом с вашим отелем, например, по живописным местам реки или водохранилища. 
        br 
        | &nbsp;&nbsp;Предоставляем всю необходимую экипировку, организовываем «лыжные пикники», длительные прогулки, кратковременные прогулки с детьми. Обучение и помощь участникам походов.

      +btn('more')