.section
  &__inner
    &--bikes
      padding: 199px 21px 0px 707px
      @media (max-width: 1200px)
        padding: 204px 14px 0 394px
    
    &--shooting
      padding-top: 111px
      padding-left: 516px
      padding-right: 319px
      @media (max-width: 1200px)
        padding-top: 73px
        padding-left: 211px
        padding-right: 209px

    &--fishing
      padding-left: 22px
      padding-top: 400px
      padding-right: 782px
      @media (max-width: 1200px)
        padding-left: 30px
        padding-top: 212px
        padding-right: 381px

    &--skiing
      padding: 112px 189px 0 610px
      @media (max-width: 1200px)
        padding: 29px 137px 0px 304px

    &--fun
      padding: 50px 386px 450px 31px

      @media (max-width: 1200px)
        padding: 50px 386px 223px 31px