section.section
  img.fig.fig--children.wow.bounceInLeft(data-wow-offset="200" data-wow-delay='0.1s' src="img/fun/children.png", alt="")
  img.fig.fig--girl-skating.wow.bounceInDown(data-wow-offset="200" data-wow-delay='0.1s' src="img/fun/girl_skating.png", alt="")
  img.fig.fig--sanki.wow.bounceInRight(data-wow-offset="200" data-wow-delay='0.1s' src="img/fun/sanki.png", alt="")
  img.fig.fig--skating.wow.bounceInRight(data-wow-offset="200" data-wow-delay='0.1s' src="img/fun/skating.png", alt="")
  img.fig.fig--tubing.wow.bounceInLeft(data-wow-offset="200" data-wow-delay='0.1s' src="img/fun/tubing.png", alt="")

  .section__inner--fun
    div.section-info
      h2.section-info__title
        | зимние забавы
        br
        |для детей и родителей
      p.section-info__text
        |Коньки, футбол, русская горка?
        br
        |Снегокаты, ледянки, санки, тюбинги?
        br
        |Организуем детский праздник с принимением спортивного инвентаря, возможно участие аниматоров (по запросу).

      +btn('more')