main.main
  h1.main-title
    |Прокат снегоходов
  p.main-subtitile
    |и другого зимнего инвентаря
  div.main-text
    p
      |Основное направление нашей компании
      span  — прокат инвентаря 
      |частным лицам и рекламным агенствам для корпоративов. Мы берем на себя 
      span подбор и обучение персонала закупку и ремонт развлекательной техники и спортивного инвентаря, проведение различных мероприятий. 
    p
      |&nbsp; У нас есть всё для отличного 
      span зимнего отдыха!

  +btn('order')

  img.fig.fig--main-snowbike.wow.bounceInLeft(data-wow-offset="0" data-wow-delay='0.01s' src="img/snow_main.png", alt="")