<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Поменять название
    link(rel="stylesheet" href="../css/style.min.css")
    link(rel='stylesheet' href='../css/libs.min.css')
  body
    .container
      //-------------------- HEADER -----------------------
      header.header
          img.logo.header__logo(src="img/logo.png", alt="")
          .header__menu-block
            nav.header__nav
              a(href="#bikes")
                |Снегоходы
                br 
                |и квадроциклы
              a(href="#")
                |Пейнтбол
                br
                |и тир
              a(href="#")
                |Рыбалка, лыжи,
                br
                |зимние забавы
              a(href="#")
                |Подарочные
                br
                | сертификаты
                
            .header__info
              .phone.header__phone
                .phone__pic.phone__pic_blue
                .phone__num.phone__num_big
                  |+7 (985) 85-999-05

              .header-contacts
                .map__pic
                .header-contacts__descr
                  |Контакты

              a.header-promo(href="#")
                .header-promo__button
                  .header-promo__ico
                  span.header-promo__text
                    |Акции

      
      //--------------------- MAIN -------------------------
      main.main
        h1.main-title
          |Прокат снегоходов
        p.main-subtitile
          |и другого зимнего инвентаря
        div.main-text
          p
            |Основное направление нашей компании
            span  — прокат инвентаря 
            |частным лицам и рекламным агенствам для корпоративов. Мы берем на себя 
            span подбор и обучение персонала закупку и ремонт развлекательной техники и спортивного инвентаря, проведение различных мероприятий. 
          p
            |&nbsp; У нас есть всё для отличного 
            span зимнего отдыха!
          
        include modules/button_order

        img.main-pic.features-card.wow.bounceInLeft(data-wow-offset="0" data-wow-delay='0.01s' src="img/snow_main.png", alt="")

      
      //--------------------- BIKES ---------------------
      section.bikes
        a(name='bikes')
        div.bikes-picks
          img.bikes-picks_quadro.features-card.wow.bounceInLeft(data-wow-offset="0" data-wow-delay='0.1s' src="img/quadro.png", alt="")
          img.bikes-picks_snowbike.features-card.wow.bounceInLeft(data-wow-offset="0" data-wow-delay='0.01s' src="img/snowbike.png", alt="")

        div.bikes-more
          h2.bikes-more__title
            |прогулки на квадроциклах и снегоходах
          div.bikes-more__list
            ul
              li
                span &#183;
                |мощные квадроциклы и багги от мировых производителей для покорения Российского бездорожья;
              li
                span &#183;
                |увлекательные маршруты по лесам 
                br 
                |и полям на снегоходах Yamaha и Polaris;
              li 
                span &#183;
                |спортивная экипировка для езды

          include modules/button_more

      
      //-------------------- SHOOTING -------------------
      section.shooting
        img.shooting-pics__sniper1.features-card.wow.bounceInLeft(data-wow-offset="200" data-wow-delay='0.25s' src="img/sniper1.png", alt="")
        img.shooting-pics__sniper2.features-card.wow.bounceInLeft(data-wow-offset="200" data-wow-delay='0.1s' src="img/sniper2.png", alt="")
        img.shooting-pics__bags.features-card.wow.bounceInDown(data-wow-offset="100" data-wow-delay='0.0s' src="img/bags.png", alt="")

        div.shooting-more
          h2.shooting-more__title
            | Пейнтбол и тир
          p.shooting-more__text
            |Полный комплект оборудования и одежды для баталий на пейнтбольной площадке в лесной чаще. Теплый тир для тренировки меткости, любой вид оружия на выбор: лук, арбалет, пневматическая винтовка.
            br
            |И это еще не всё. 

          include modules/button_more
 
        img.shooting-pics__tir.features-card.wow.bounceInDown(data-wow-offset="400" data-wow-delay='0.1s' src="img/tir.png", alt="")


      //-------------------- FISHING --------------------
      section.fishing
        div.fishing-more 
          h2.fishing-more__title
            |прокат рыболовных снастей
          div.fishing-more__text
            h3.fishing-more__text-title
            |Все для зимней рыбалки:
            ul.fishing-more__text-list
              li
                span &#183;
                |зимние снасти и удочки, эхолоты;
              li
                span &#183;
                |инструменты для пробития лунок, рыболовные ящики, складные стулья для рыбалки
              li
                span &#183;
                |специальные палатки от ветра по запросу

          include modules/button_more

        img.fishing-pic.fisherman1.features-card.wow.bounceInDown(data-wow-offset="200" data-wow-delay='0.01s' src="img/fisherman.png", alt="")
        img.fishing-pic.fisherman2.features-card.wow.bounceInDown(data-wow-offset="200" data-wow-delay='0.01s' src="img/fisherman2.png", alt="")

      
      //--------------------- SKIING --------------------
      section.skiing
        img.skiing-pic__snowman.features-card.wow.bounceInLeft(data-wow-offset="200" data-wow-delay='0.1s' src="img/snowman.png", alt="")
        img.skiing-pic__ski.features-card.wow.bounceInLeft(data-wow-offset="200" data-wow-delay='0.1s' src="img/ski.png", alt="")
        img.skiing-pic__ski2.features-card.wow.bounceInLeft(data-wow-offset="200" data-wow-delay='0.1s' src="img/ski2.png", alt="")
        div.skiing-more
          h2.skiing-more__title
            | организация лыжных маршрутов
          p.skiing-more__text
            |Подберем маршрут рядом с вашим отелем, например, по живописным местам реки или водохранилища. 
            br 
            | &nbsp;&nbsp;Предоставляем всю необходимую экипировку, организовываем «лыжные пикники», длительные прогулки, кратковременные прогулки с детьми. Обучение и помощь участникам походов.
          include modules/button_more

      
      //---------------------- FUN ----------------------
      section.fun
        img.fun-pic__children.features-card.wow.bounceInLeft(data-wow-offset="200" data-wow-delay='0.1s' src="img/fun/children.png", alt="")
        img.fun-pic__girl_skating.features-card.wow.bounceInDown(data-wow-offset="200" data-wow-delay='0.1s' src="img/fun/girl_skating.png", alt="")
        img.fun-pic__sanki.features-card.wow.bounceInRight(data-wow-offset="200" data-wow-delay='0.1s' src="img/fun/sanki.png", alt="")
        img.fun-pic__skating.features-card.wow.bounceInRight(data-wow-offset="200" data-wow-delay='0.1s' src="img/fun/skating.png", alt="")
        img.fun-pic__tubing.features-card.wow.bounceInLeft(data-wow-offset="200" data-wow-delay='0.1s' src="img/fun/tubing.png", alt="")

        div.fun-more
          h2.fun-more__title
            | зимние забавы
            br
            | для детей и родителей
          p.fun-more__text
            |Коньки, футбол, русская горка?
            br
            |Снегокаты, ледянки, санки, тюбинги?
            br
            |Организуем детский праздник с принимением спортивного инвентаря, возможно участие аниматоров (по запросу).
          include modules/button_more


      //-------------------- CONTACTS --------------------
      section.contacts

        .contacts-card
          h2.contacts__title
            |контакты

          div.phone.contacts__phone
            .phone__pic.phone__pic_white
            .phone__num.phone__num_small
              |+7 (985) 85-999-05

          div.phone.contacts__phone
            .phone__pic.phone__pic_white
            .phone__num.phone__num_small
              |+7 (925) 56-005-01

          div.contacts__mail
            //- иконка
            .contacts-pic__mail
            p zakaz@moto-naprokat.ru

          div.contacts__coordinates
            //- иконка
            .contacts-pic__map
            .coordinates__text
              .coordinates__text--title
                |Координаты:
              .coordinates__text--row
                |56.040962, 36.863252
              .coordinates__text--row
                |56.040962, 36.863252
          include modules/button_order

        img.contacts-pic__map-shadow(src="img/contacts/map_shadow.png", alt="")
        img.contacts-pic__children(src="img/contacts/contacts_picture.png", alt="")
        img.contacts-pic__bigmap(src="img/contacts/pic_main.png", alt="")

    //-------------------- FOOTER --------------------
    footer
      .container.footer
        a.up-button(href="#")

        .esttk
          p Разработка сайта
          img(src="img/footer/esttk.png", width="49", height="29", alt="")
        .copyright
          p Все права защищены @2010г
        .social
          a(href="#")
            img(src="img/footer/fb.png", alt="")
          a(href="#")
            img(src="img/footer/vk.png", alt="")
          a(href="#")
            img(src="img/footer/insta.png", alt="")


        

    script(src='js/libs.min.js')
    script(src='js/app.js')
