footer.footer
  .page-container
    .footer__inner
      a.footer__up-button(href="#top")
      .footer__esttk
        p Разработка сайта
        img(src="img/footer/esttk.png", alt="")
      
      .footer__copyright
        p Все права защищены @2010г
        
      .footer__social
        a(href="#")
          img(src="img/footer/fb.png", alt="")
        a(href="#")
          img(src="img/footer/vk.png", alt="")
        a(href="#")
          img(src="img/footer/insta.png", alt="")