.pic
  width: 39px
  height: 39px
  border-radius: 50%
  background: #143e65 no-repeat center

  @media (max-width: 1200px)
    width: 26px
    height: 26px
    background-size: 64%

  &--map--blue
    background-image: url(../img/header-contact.png)

  &--map--white
    background-image: url(../img/contacts/map.png)
  
  &--phone--blue
    background-image: url(../img/header-phone.png)
  
  &--phone--white
    background-image: url(../img/contacts/phone.png)
  
  &--mail
    background-image: url(../img/contacts/letter.png)