.contacts
  position: relative
  &__inner
    padding: 33px 10px 20px 20px
    margin-bottom: 73px

    @media (max-width: 1200px)
      padding: 33px 10px 20px 31px

.contacts-card
  font-family: "GT Walsheim Pro Bold"
  color: #143e65
  &__title
    margin-bottom: 72px
    font-size: 48px
    line-height: 21.6px
    text-transform: uppercase
    letter-spacing: 9.6px

    @media (max-width: 1200px)
      font-size: 30px
      line-height: 15.34px
      letter-spacing: 6px
      margin-bottom: 45px

  &__item
    margin-bottom: 34px
    font-size: 18px
    line-height: 24px
    letter-spacing: 1.8px

    @media (max-width: 1200px)
      margin-bottom: 13px
      font-size: 16px
      line-height: 17.05px
      letter-spacing: 2.25px

.coordinates
  display: flex
  margin-bottom: 66px
  &__text
    padding-left: 18px
    padding-top: 7px
    &--title
      font-family: "GT Walsheim Pro Bold"
      font-weight: 700
      font-size: 18px
      letter-spacing: 1.8px
    &--row
      font-family: "GT Walsheim Pro Regular"
      font-size: 18px
      font-weight: 400
      line-height: 27px
      letter-spacing: 1.8px

.mail
  display: flex
  align-items: center
  p
    margin: 0
    padding-left: 18px