.phone
  display: flex
  align-items: center

  &__num
    color: #143e65
    font-family: "GT Walsheim Pro Bold"
    line-height: 24px

    @media (max-width: 1200px)
      line-height: 15.22px

    &--big
      padding-left: 19px
      font-size: 24px
      letter-spacing: 2.4px

      @media (max-width: 1200px)
        font-size: 16px
        letter-spacing: 0.9px
        padding-left: 10px

    &--small
      padding-left: 18px
      font-size: 18px
      letter-spacing: 1.8px
      @media (max-width: 1200px)
        padding-left: 13px
        font-size: 16px
        line-height: 17.05px
        letter-spacing: 1.7px