include blocks/btn/btn
include blocks/logo/logo

include blocks/HEAD/HEAD

body.page
  .page__container
    include blocks/header/header
    include blocks/main/main
    include blocks/bikes/bikes
    include blocks/shooting/shooting
    include blocks/fishing/fishing
    include blocks/skiing/skiing
    include blocks/fun/fun
    include blocks/contacts/contacts
  include blocks/footer/footer

  script(src='js/libs.min.js')
  script(src='js/app.js')
