include blocks/btn/btn.pug
include blocks/logo/logo.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Поменять название
    link(rel="stylesheet" href="../css/style.min.css")
    link(rel='stylesheet' href='../css/libs.min.css')
  body
    .container
      include blocks/header/header.pug

      include blocks/main/main.pug

      
      //--------------------- BIKES ---------------------
      section.section(id='bikes')
        
        img.fig.fig--quadro.wow.bounceInLeft(data-wow-offset="0" data-wow-delay='0.1s' src="img/quadro.png", alt="")
        img.fig.fig--snowbike.wow.bounceInLeft(data-wow-offset="0" data-wow-delay='0.01s' src="img/snowbike.png", alt="")

        .section__inner--bikes
          .section-info
            .section-info__title
              |прогулки на квадроциклах и&nbsp;снегоходах
            .section-info__list
              ul
                li
                  span &#183;
                  |мощные квадроциклы и багги от мировых производителей для покорения Российского бездорожья;
                li
                  span &#183;
                  |увлекательные маршруты по лесам 
                  br 
                  |и полям на снегоходах Yamaha и Polaris;
                li 
                  span &#183;
                  |спортивная экипировка для езды
            +btn('more')
      
      //-------------------- SHOOTING -------------------
      section.section(id='tir')
        img.fig.fig--sniper1.wow.bounceInLeft(data-wow-offset="200" data-wow-delay='0.25s' src="img/sniper1.png", alt="")
        img.fig.fig--sniper2.wow.bounceInLeft(data-wow-offset="200" data-wow-delay='0.1s' src="img/sniper2.png", alt="")
        img.fig.fig--bags.wow.bounceInDown(data-wow-offset="220" data-wow-delay='0.0s' src="img/bags.png", alt="")
        
        .section__inner--shooting
          div.section-info
            h2.section-info__title
              | Пейнтбол и тир
            p.section-info__text
              |Полный комплект оборудования и одежды для баталий на пейнтбольной площадке в лесной чаще. Теплый тир для тренировки меткости, любой вид оружия на выбор: лук, арбалет, пневматическая винтовка.
              br
              |И это еще не всё. 

            +btn('more')
 
        img.fig.fig--tir.wow.bounceInDown(data-wow-offset="400" data-wow-delay='0.1s' src="img/tir.png", alt="")


      //-------------------- FISHING --------------------
      section.section(id='fishing')

        .section__inner--fishing
          div.section-info
            h2.section-info__title
              |прокат рыболовных <br> снастей
            .section-info__list
              ul
                li
                  |Все для зимней рыбалки:
                li
                  span &#183;
                  |зимние снасти и удочки, эхолоты;
                li
                  span &#183;
                  |инструменты для пробития лунок, рыболовные ящики, складные стулья для рыбалки
                li
                  span &#183;
                  |специальные палатки от ветра по запросу

          +btn('more')

        img.fig.fig--fisherman1.wow.bounceInDown(data-wow-offset="200" data-wow-delay='0.01s' src="img/fisherman.png", alt="")
        img.fig.fig--fisherman2.wow.bounceInDown(data-wow-offset="200" data-wow-delay='0.01s' src="img/fisherman2.png", alt="")

      
      //--------------------- SKIING --------------------
      section.section
        img.fig.fig--snowman.wow.bounceInLeft(data-wow-offset="200" data-wow-delay='0.1s' src="img/snowman.png", alt="")
        img.fig.fig--ski.wow.bounceInLeft(data-wow-offset="200" data-wow-delay='0.1s' src="img/ski.png", alt="")
        img.fig.fig--ski2.wow.bounceInLeft(data-wow-offset="200" data-wow-delay='0.1s' src="img/ski2.png", alt="")

        .section__inner--skiing
          div.section-info
            h2.section-info__title
              | организация лыжных маршрутов
            p.section-info__text
              |Подберем маршрут рядом с вашим отелем, например, по живописным местам реки или водохранилища. 
              br 
              | &nbsp;&nbsp;Предоставляем всю необходимую экипировку, организовываем «лыжные пикники», длительные прогулки, кратковременные прогулки с детьми. Обучение и помощь участникам походов.

            +btn('more')

      
      //---------------------- FUN ----------------------
      section.section
        img.fig.fig--children.wow.bounceInLeft(data-wow-offset="200" data-wow-delay='0.1s' src="img/fun/children.png", alt="")
        img.fig.fig--girl-skating.wow.bounceInDown(data-wow-offset="200" data-wow-delay='0.1s' src="img/fun/girl_skating.png", alt="")
        img.fig.fig--sanki.wow.bounceInRight(data-wow-offset="200" data-wow-delay='0.1s' src="img/fun/sanki.png", alt="")
        img.fig.fig--skating.wow.bounceInRight(data-wow-offset="200" data-wow-delay='0.1s' src="img/fun/skating.png", alt="")
        img.fig.fig--tubing.wow.bounceInLeft(data-wow-offset="200" data-wow-delay='0.1s' src="img/fun/tubing.png", alt="")

        .section__inner--fun
          div.section-info
            h2.section-info__title
              | зимние забавы
              br
              |для детей и родителей
            p.section-info__text
              |Коньки, футбол, русская горка?
              br
              |Снегокаты, ледянки, санки, тюбинги?
              br
              |Организуем детский праздник с принимением спортивного инвентаря, возможно участие аниматоров (по запросу).

            +btn('more')

      //-------------------- CONTACTS --------------------
      section.contacts(id='contacts')
        .contacts__inner
          .contacts-card
            h2.contacts-card__title
              |контакты

            .phone.contacts-card__item
              .pic.pic--phone--white
              .phone__num.phone__num--small
                |+7 (985) 85-999-05

            .phone.contacts-card__item
              .pic.pic--phone--white
              .phone__num.phone__num--small
                |+7 (925) 56-005-01


            .mail.contacts-card__item
              .pic.pic--mail
              p zakaz@moto-naprokat.ru

            .coordinates
              .pic.pic--map--white
              .coordinates__text
                .coordinates__text--title
                  |Координаты:
                .coordinates__text--row
                  |56.040962, 36.863252
                .coordinates__text--row
                  |56.040962, 36.863252
            +btn('order')

        img.fig.fig--map-shadow(src="img/contacts/map_shadow.png", alt="")
        img.fig.fig--children-sanki(src="img/contacts/contacts_picture.png", alt="")
        img.fig.fig--bigmap(src="img/contacts/pic_main.png", alt="")

    //-------------------- FOOTER --------------------
    footer
      .container.footer
        a.up-button(href="#top")

        .esttk
          p Разработка сайта
          img(src="img/footer/esttk.png", width="49", height="29", alt="")
        .copyright
          p Все права защищены @2010г
        .social
          a(href="#")
            img(src="img/footer/fb.png", alt="")
          a(href="#")
            img(src="img/footer/vk.png", alt="")
          a(href="#")
            img(src="img/footer/insta.png", alt="")


    script(src='js/libs.min.js')
    script(src='js/app.js')
